# Ignore the virtual environments
venv/
.venv/

# Ignore the junk folder
dont\ need/

# Ignore Python cache
*.pyc

# Ignore generated plots and reports
reports/plots/
#reports/*.json

# Ignore Python environments and cache
__pycache__/

# Ignore environment variables
.env
[flake8]
exclude = 
    .git,
    __pycache__,
    src/inject_drift.py