# Ignore the virtual environments
venv/
.venv/

# Ignore the junk folder
dont\ need/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore generated plots and reports
#reports/plots/
reports/*.json

# Ignore Python environments and cache
__pycache__/

# Ignore environment variables
.env